---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Astro Blog - About Me" description="About Michael Houmann">
  <h1>About Michael</h1>
</MainLayout>