---
// library import
import { Image } from "astro:assets";

// component imports
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Astro Blog - About Me" description="About me">
  <section class="container about" aria-label="About Me">
    <Image src="/images/headshot.jpg" alt="My Headshot" height="330" width="200" />

    <article class="content">
      <h1 class="h1">My Blog</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt non ducimus accusantium saepe porro molestias consequuntur. Vel nemo aspernatur consequuntur praesentium, ab ducimus commodi voluptates perspiciatis, expedita necessitatibus sed debitis quod velit nihil nulla modi est natus asperiores, placeat at?</p>
      <Link 
        href="mailto:test@testing.com"
        text="Contact Me"
        style="primary"
      />

    </article>
  </section>
</MainLayout>