---
---

<footer>
  <small>
    Copyright &copy;<span id="copyright"></span> Michael Houmann | All rights reserved
  </small>
</footer>

<script>
  document.querySelector('#copyrignt')!.textContent = new Date().getFullYear().toString();
</script>